.Card {
    max-width: 100%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(230, 231, 226, 0.911);
    padding: 10px 5rem 10px;
    text-align: center;
    font-size: 24px;
   
    background-color: azure;
  }
  
 
  